<h1>{{ title }}</h1>
<ul>
  <li *ngFor='let todo of todos'>
    {{ todo.id }}. {{ todo.task }} 
    | <button *ngIf='!todo.done' (click)='markAsDone(todo)'>Concluir</button>
    | <button *ngIf='todo.done' (click)='markAsUndone(todo)'>Refazer </button>
    | <button (click)='remove(todo)'>Remover</button>
  </li>
  <!-- *ngFor é a forma de construirmos um for no angular e usuá-lo em uma tag html -->
  <!-- 'let' é a palavra reservada para definirmos uma variável. Assumiu o lugar da palavra reservada 'var'-->
  <!-- let todo of todos vai selecionar cada um dos itens da nossa lista chamada todos -->
</ul>